
.Rproj.user/E37AEAA8/sdb/prop/2AC26305

.Rproj.user/E37AEAA8/sdb/prop/31DCABDD

.Rproj.user/E37AEAA8/sdb/prop/INDEX

.Rproj.user/E37AEAA8/sdb/s-A32E3CD0/5B3384B8

.Rproj.user/E37AEAA8/sdb/s-A32E3CD0/B5C00B3A

.Rproj.user/E37AEAA8/sdb/s-A32E3CD0/lock_file

*.dbf

*.prj

*.qpj

*.shp

*.shx

*.cst

*.xml

*.txt

*.kml
